@media only screen and (max-width: 1920px), only screen and (max-device-width:1920px) {
     html,body {
         font-size:40px
     }
   }

@media only screen and (max-width: 1360px), only screen and (max-device-width:1360px) {
    html,body {
        font-size:30px
    }
}
@media only screen and (max-width: 1280px), only screen and (max-device-width:1280px) {
    html,body {
        font-size:26.6px
    }
}
